aiofiles
fuzzywuzzy
jsonlines
matplotlib
pandas
Pillow
polars
pyarrow
pygame
PyYAML
Requests
spacy
tqdm
vllm>=0.5.0
ray>=2.9.0
numexpr
einops
sentencepiece
transformers
torch
torchvision  
torchaudio
wordcloud
python-Levenshtein
pyspellchecker
textblob
markdown2
language_tool_python
protobuf
datasketch